# =========================
# Runtime / Logs
# =========================
src/app.log

# =========================
# Docker
# =========================
*.env
docker-compose.override.yml

# =========================
# PHP
# =========================
vendor/
*.cache
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

